<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="smwu.mapper.userinfo.userinfoMapper">
    <insert id="registerUserinfo">
        INSERT INTO users ( ID , PW , PHONE , EMAIL, ADDR )
        VALUES ( #{id} , #{pw} , #{phone} , #{email}, #{addr} )
    </insert>


</mapper>
